body {
  background: #e59a05;
  margin: none;
}
.wrapper {
  margin: none;
  background: #e59a05;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glow {
  position: absolute;
  width: 0px;
  height: 0px;
  background: transparent;
  border-radius: 200px;
  box-shadow: 0px 0px 400px 200px white;
  animation: shadow 6s linear infinite;
}
.mask {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: white;
  animation-fill-mode: forwards;
  z-index: 100;
  animation: leftToRight 6s linear;
}

.container {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 1s linear alternate infinite;
  transform: rotate(-10deg);
}

.main {
  height: 250px;
  width: 200px;
  background: gold;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.stem2 {
  position: fixed;
  top: 190px;
  border-bottom: 100px solid gold;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0px;
  width: 40px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  transform: rotate(180deg);
}
.stem1 {
  position: absolute;
  top: 280px;
  border-bottom: 100px solid gold;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 40px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
.base {
  position: fixed;
  width: 180px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background: #56698f;
  height: 20px;
  top: 380px;
}
.arms {
  width: 300px;
  height: 150px;
  position: absolute;
  background: transparent;
  z-index: -1;
  border: #ddba00 20px solid;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.stemCrease {
  position: absolute;
  width: 60px;
  height: 15px;
  border-radius: 10px;
  background: #ddba00;
  top: 280px;
  z-index: 1;
}
.star {
  position: absolute;
  font-size: 100px;
  color: white;
  top: 0px;
  left: 100px;
  transform-origin: center;
  animation: shimmer 0.4s alternate infinite linear;
}

@keyframes shimmer {
  to {
    transform: rotate(20deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(10deg);
  }
}
@keyframes leftToRight {
  0% {
    clip-path: circle(150px at 0% 100%);
  }
  20% {
    clip-path: circle(150px at 50% 15%);
  }
  30% {
    clip-path: circle(150px at 100% 50%);
  }
  40% {
    clip-path: circle(150px at 70% 100%);
  }
  70% {
    clip-path: circle(150px at -100% -100%);
  }
  80% {
    clip-path: circle(150px at -100% 200%);
  }
  85% {
    clip-path: circle(150px at 50% 200%);
  }
  90% {
    clip-path: circle(100% at 50% 80%);
  }
}
@keyframes shadow {
  0% {
    left: 0%;
    top: 100%;
  }
  20% {
    left: 50%;
    top: 15%;
  }
  30% {
    left: 100%;
    top: 50%;
  }
  40% {
    left: 70%;
    top: 100%;
  }
  70% {
    left: -100%;
    top: -100%;
  }
  80% {
    left: -100%;
    top: 200%;
  }
  85% {
    left: 500%;
    top: 200%;
  }
  95% {
    left: 50%;
    top: 80%;
  }
}
.btn-box {
  margin-top: 350px;
}
.btn {
  font-family: "Nunito", sans-serif;
  padding: 20px;
  width: 100px;
  height: 500px;
  font-size: 30px;
  border-radius: 50px;
  background-color: #56698f;
  border: none;
  box-shadow: 10px 5px 5px rgb(203, 203, 203);
  color: white;
  text-decoration: none;
}
