* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}
.pic {
  display: flex;
  width: 50vh;
}
.container {
  display: flex;
  background-color: black;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.row {
  display: flex;
  background-color: white;
  width: 90%;
  height: 50%;
  border-radius: 20px;
  justify-content: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.309);
}

.btn-start {
  width: 30vh;
  height: 110px;
  font-size: 30px;
  border-radius: 20px;
  background-color: #e59a05;
  border: none;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 31%);
  color: #fff;
}

.rando {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
#tb {
  text-align: center;
  border: none;
  background-color: white;
  font-size: 50px;
  width: 70px;
}
.form-horizontal {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-direction: column;
}
#quoteshere {
  font-size: 20px;
}
.player-number {
  font-size: 50px;
  color: #56698f;
}
.players {
  display: flex;
  font-size: 50px;
  color: #56698f;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  height: 50px;
  margin-top: 20px;
  width: 250px;
  font-size: 15px;

  background-color: #56698f;
  border: none;
  box-shadow: 10px 5px 5px rgb(203, 203, 203);
  color: white;
}

